 .u-section-1 {
  background-image: url("images/pexels-photo-9725979.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 554px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 700;
  width: 752px;
  margin: 248px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 457px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }
} .u-section-2 {
  min-height: 843px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/f2c93a520a914717de19c2245398e544004d12f6b2b689ab4a37ac33f0022ec538fc25e6701f5243c78ad134cb2b030c4ded5667782d446816d43a_1280.jpg");
  background-position: 50% 50%;
  min-height: 456px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 456px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px 30px 34px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
  margin: 32px 0 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 474px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  text-align: left;
  margin: 70px 63px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 70px auto 0 0;
}

.u-section-2 .u-image-2 {
  background-image: url("images/d1512045ba13af580726104253301499105f6d01dd69d44c16dbd0fe2e59c1d517c41f251ea45563a7b643e59531b1a085d784431bd08ff57cc0c7_1280.jpg");
  background-position: 50% 50%;
  min-height: 474px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 696px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-image-1 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 376px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 391px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 534px;
  }

  .u-section-2 .u-image-1 {
    min-height: 288px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    min-height: 299px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1303px;
  }

  .u-section-2 .u-image-1 {
    min-height: 432px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 449px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 856px;
  }

  .u-section-2 .u-image-1 {
    min-height: 272px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 283px;
  }
} .u-section-3 {
  background-image: url("images/f2ba20d082913f395f297569653e5bb579d2c4be8ef42290ae22718779014d85b452f8ab1d1e0e2af7d8c8f8aaf4b44c4a62ee89fac5fc19c161cd_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 723px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-size: 3.75rem;
  text-transform: none;
  font-weight: 700;
  width: 739px;
  margin: 120px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 50px auto 60px 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 352px;
  grid-gap: 26px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  width: 238px;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-3 .u-text-3 {
  margin: 33px 16px 0;
}

.u-section-3 .u-icon-2 {
  width: 36px;
  height: 36px;
  margin: 15px auto 0;
  padding: 31px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 238px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 33px 16px 0;
}

.u-section-3 .u-icon-4 {
  width: 36px;
  height: 36px;
  margin: 15px auto 0;
  padding: 31px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-5 {
  height: 126px;
  width: 126px;
  background-image: none;
  margin: 0 auto;
  padding: 31px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  width: 238px;
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-3 .u-text-7 {
  margin: 33px 16px 0;
}

.u-section-3 .u-icon-6 {
  width: 36px;
  height: 36px;
  margin: 15px auto 0;
  padding: 31px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 17.3333px));
    min-height: 290px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 12.999975000000001px));
    min-height: 666px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
} .u-section-4 {
  min-height: 1054px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 80px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 23px;
}

.u-section-4 .u-image-1 {
  min-height: 762px;
  background-image: url("images/pexels-photo-9790906.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  min-height: 381px;
  background-image: url("images/pexels-photo-10514116.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  min-height: 381px;
  background-image: url("images/pexels-photo-8536068.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-4 {
  min-height: 381px;
  background-image: url("images/7b3bdb407571994db3eb7aa84c164c27d9f6d91cd9b32033b6d980302d2ed3028c359285031c385ad0ce6ac0d998573e45763dfa814fa105cf9b62_1280.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-image-5 {
  min-height: 381px;
  background-image: url("images/pexels-photo-10283730.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 920px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 628px;
  }

  .u-section-4 .u-image-2 {
    min-height: 314px;
  }

  .u-section-4 .u-image-3 {
    min-height: 314px;
  }

  .u-section-4 .u-image-4 {
    min-height: 314px;
  }

  .u-section-4 .u-image-5 {
    min-height: 314px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 2216px;
  }

  .u-section-4 .u-image-1 {
    min-height: 962px;
  }

  .u-section-4 .u-image-2 {
    min-height: 481px;
  }

  .u-section-4 .u-image-3 {
    min-height: 481px;
  }

  .u-section-4 .u-image-4 {
    min-height: 481px;
  }

  .u-section-4 .u-image-5 {
    min-height: 481px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 3902px;
  }

  .u-section-4 .u-image-1 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-4 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-5 {
    min-height: 722px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 2567px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 455px;
  }

  .u-section-4 .u-image-2 {
    min-height: 455px;
  }

  .u-section-4 .u-image-3 {
    min-height: 455px;
  }

  .u-section-4 .u-image-4 {
    min-height: 455px;
  }

  .u-section-4 .u-image-5 {
    min-height: 455px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/8e11f59a1dec3248ae4729342025f718f4830ee55ed339d7e4a6be296a0d144addbc76a63843d0e35d37e354f797dc064e2453777e080b2dcc016f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 688px;
}

.u-section-5 .u-text-1 {
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 3.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 150px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 64px;
  margin-bottom: -2px;
}

.u-section-5 .u-repeater-1 {
  min-height: 258px;
  grid-template-columns: repeat(4, 25%);
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 20px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 44px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 20px;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 44px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 20px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 44px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 20px;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  font-weight: 400;
  font-style: normal;
  margin: 15px 0 0;
}

.u-section-5 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  margin: 44px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 212px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 650px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  min-height: 785px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 570px;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  width: 445px;
  margin: 14px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 468px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 703px;
  }

  .u-section-6 .u-gallery-1 {
    height: 386px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 1204px;
  }

  .u-section-6 .u-gallery-1 {
    height: 887px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 2313px;
  }

  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1996px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 1574px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-top: 61px;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    margin-top: 13px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1257px;
  }
} .u-section-7 {
  background-image: url("images/893ec92f4937d9fd370de23575f7dcfadd4faaf6d93befe4ba885226d696975feed8605fcb649f9e7f8d5843b7de81ff031e47541d96e5862ed42b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 835px;
}

.u-section-7 .u-group-1 {
  width: 946px;
  min-height: 545px;
  background-image: none;
  height: auto;
  margin: 60px auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  font-style: normal;
  width: 450px;
  margin: 17px auto 0;
}

.u-section-7 .u-form-1 {
  height: 259px;
  width: 866px;
  margin: 40px auto 0;
}

.u-section-7 .u-form-group-1 {
  margin-left: auto;
}

.u-section-7 .u-form-group-2 {
  margin-left: auto;
}

.u-section-7 .u-form-group-3 {
  margin-left: auto;
}

.u-section-7 .u-form-group-4 {
  margin-left: auto;
}

.u-section-7 .u-form-group-5 {
  margin-left: auto;
}

.u-section-7 .u-btn-1 {
  margin-left: auto;
  width: 100%;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-7 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-btn-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-7 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
  }

  .u-section-7 .u-form-1 {
    width: 320px;
  }
}