 .u-section-1 {
  background-image: url("images/3e49dc06e402261bafde0fe4c68bb2d228df81df415c92caa09f2797f56f0f123e4577d3af0af5b045a722bbffc4628f67e2e2a509c19dcc08a2c3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 792px;
  min-height: 421px;
  height: auto;
  margin: 340px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 297px;
  height: 241px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 900;
  margin: -158px 226px 0 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 40px auto 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 10px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 196px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 4px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-top: 220px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 180px auto 60px;
} .u-section-3 {
  background-image: url("images/23403165d18ae5ff4c6eae332c644ee318985df88ff716879dac8f41975b173e399f495acb8228e73dab6758cd986a9279ee7750d0c850f80ae8e0_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 991px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 891px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-top: 0;
  line-height: 1.8;
  margin-bottom: 0;
  margin-left: auto;
  font-weight: 700;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 890px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 29px;
}

.u-section-3 .u-form-1 {
  height: 564px;
  width: 655px;
  margin: 124px auto 0;
}

.u-section-3 .u-form-group-1 {
  margin-left: auto;
}

.u-section-3 .u-label-1 {
  font-weight: 700;
}

.u-section-3 .u-form-group-2 {
  margin-left: auto;
}

.u-section-3 .u-label-2 {
  font-weight: 700;
}

.u-section-3 .u-form-group-3 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-label-3 {
  font-weight: 700;
}

.u-section-3 .u-form-group-4 {
  margin: ;
}

.u-section-3 .u-label-4 {
  font-weight: 700;
}

.u-section-3 .u-form-group-5 {
  margin: ;
}

.u-section-3 .u-label-5 {
  font-weight: 700;
}

.u-section-3 .u-form-group-6 {
  margin-top: 0;
  margin-bottom: 10px !important;
  margin-left: auto;
}

.u-section-3 .u-label-6 {
  font-weight: 700;
}

.u-section-3 .u-form-group-7 {
  margin-left: auto;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-left: auto;
  background-image: none;
  width: 100%;
  padding: 9px 0 11px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 623px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-3 .u-form-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 731px;
  }

  .u-section-3 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 731px;
  }

  .u-section-3 .u-form-1 {
    width: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-form-1 {
    width: 320px;
  }
}