 .u-section-1 {
  background-image: url("images/41b4415b2c7e18ad9ffea854b760f22c0fc7fe230914a82931d041378cfcd723b115626ea97fe4ef66be406815202063b214cae60a583101a1e2c3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 858px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 997px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 713px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 80px auto 0;
}

.u-section-1 .u-image-1 {
  width: 219px;
  height: 219px;
  margin: 85px auto 0 110px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  border-style: solid;
  margin: 30px auto 0;
  padding: 8px 53px 8px 52px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 693px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  height: 526px;
  width: 439px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  font-size: 1.125rem;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  width: 72px;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  width: 72px;
}

.u-section-1 .u-form-group-4 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  width: 72px;
}

.u-section-1 .u-form-group-5 {
  width: 100%;
}

.u-section-1 .u-label-4 {
  width: 72px;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-5 {
  width: 72px;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  width: 72px;
}

.u-section-1 .u-text-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  border-style: solid;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 653px;
  }

  .u-section-1 .u-form-1 {
    width: 411px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 1;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}