 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../images/image3.png");
  background-position: 50% 50%;
  min-height: 746px;
}

.u-section-1 .u-group-1 {
  min-height: 746px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 475px;
  min-height: 626px;
  margin: 30px auto 0 685px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-top: 90px;
  font-size: 3.75rem;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-1 .u-text-2 {
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 1.25rem;
  line-height: 1.8;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
  padding: 10px 62px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 615px;
  }

  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-left: 405px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.33333rem;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 21.04% 50%;
    min-height: 471px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 353px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 45px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 130%;
    min-height: 222px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.2777777777777777rem;
  }

  .u-section-1 .u-btn-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 517px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 100px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 328px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-container-layout-1 {
  padding: 55px 23px 30px;
}

.u-section-2 .u-icon-1 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 55px 0 0 8px;
}

.u-section-2 .u-container-layout-2 {
  padding: 55px 23px 30px;
}

.u-section-2 .u-icon-2 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 55px 0 0 8px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 55px 23px 30px;
}

.u-section-2 .u-icon-3 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 55px 0 0 8px;
}

.u-section-2 .u-container-layout-4 {
  padding: 55px 23px 30px;
}

.u-section-2 .u-icon-4 {
  height: 122px;
  width: 122px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  margin: 55px 0 0 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 350px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-3 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 32px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-4 {
    height: 105px;
    width: 105px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.11111rem;
    width: auto;
    margin-top: 32px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 842px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.27778rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.27778rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.27778rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.27778rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-3 .u-text-1 {
  margin: 65px 404px 0 56px;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 24px 404px 0 56px;
}

.u-section-3 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  align-self: center;
  background-image: none;
  border-style: solid;
  margin: 24px auto 0 56px;
  padding: 15px 41px 16px 39px;
}

.u-section-3 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("../images/fddf.jpg");
  background-position: 50% 50%;
  margin: -300px 52px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 272px;
  height: 272px;
  background-image: url("../images/dce57511-603c-4a9d-ac99-d75c117a6b7d.jpg");
  background-position: 50% 50%;
  margin: 52px auto 0 108px;
}

.u-section-3 .u-image-3 {
  width: 526px;
  height: 526px;
  background-image: url("../images/gfg.jpg");
  background-position: 50% 50%;
  margin: -234px auto 0 255px;
}

.u-section-3 .u-shape-1 {
  width: 228px;
  height: 228px;
  background-image: none;
  margin: -193px 752px 0 auto;
}

.u-section-3 .u-shape-2 {
  width: 164px;
  height: 164px;
  margin: -242px 87px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1289px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 260px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    border-style: none;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -194px;
    margin-right: 27px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -36px;
    margin-left: 7px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -229px;
    margin-left: 168px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -159px;
    margin-right: auto;
    margin-left: 122px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -144px;
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1309px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-1 {
    width: 262px;
    height: 262px;
    margin-top: -116px;
    margin-right: 24px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -58px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 487px;
    height: 487px;
    margin-top: -193px;
    margin-left: 96px;
  }

  .u-section-3 .u-shape-1 {
    width: 205px;
    height: 205px;
    margin-top: -156px;
    margin-left: 40px;
  }

  .u-section-3 .u-shape-2 {
    width: 121px;
    height: 121px;
    margin-top: -81px;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 211px;
    height: 211px;
    margin-top: 10px;
    margin-right: 17px;
  }

  .u-section-3 .u-image-2 {
    width: 270px;
    height: 270px;
    margin-top: -121px;
  }

  .u-section-3 .u-image-3 {
    width: 452px;
    height: 452px;
    margin-top: -132px;
    margin-right: 27px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-1 {
    width: 195px;
    height: 195px;
    margin-top: -155px;
    margin-right: 322px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -13px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1519px;
  }

  .u-section-3 .u-image-1 {
    width: 188px;
    height: 188px;
    margin-top: 36px;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 219px;
    height: 219px;
    margin-top: -16px;
  }

  .u-section-3 .u-image-3 {
    height: 323px;
    width: 323px;
    margin-top: -106px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-shape-1 {
    width: 141px;
    height: 141px;
    margin-top: -87px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-3 .u-shape-2 {
    width: 96px;
    height: 96px;
    margin-top: -16px;
    margin-right: 17px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 457px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  width: 682px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  width: 614px;
  margin: 40px auto 0;
}

.u-section-4 .u-btn-1 {
  align-self: center;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 40px auto 60px;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1023px;
}

.u-section-5 .u-shape-1 {
  width: 590px;
  height: 490px;
  background-image: none;
  margin: 93px 0 0 auto;
}

.u-section-5 .u-shape-2 {
  width: 566px;
  height: 350px;
  margin: -702px 265px 0 auto;
}

.u-section-5 .u-image-1 {
  height: 542px;
  width: 812px;
  object-position: 0% 50%;
  margin: -290px auto 0 0;
}

.u-section-5 .u-group-1 {
  min-height: 426px;
  width: 518px;
  margin: -125px auto -119px 80px;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 40px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  line-height: 32.4px;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-shape-2 {
    width: 711px;
    margin-right: auto;
    margin-left: 109px;
  }

  .u-section-5 .u-image-1 {
    width: 755px;
  }

  .u-section-5 .u-group-1 {
    min-height: 413px;
    margin-top: -123px;
    margin-bottom: -152px;
  }

  .u-section-5 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 998px;
  }

  .u-section-5 .u-shape-1 {
    height: 413px;
    margin-top: 55px;
  }

  .u-section-5 .u-shape-2 {
    width: 558px;
    height: 364px;
    margin-top: -689px;
    margin-right: 51px;
    margin-left: auto;
  }

  .u-section-5 .u-image-1 {
    height: 476px;
    width: 598px;
  }

  .u-section-5 .u-group-1 {
    min-height: 428px;
    width: 464px;
    margin-top: -98px;
    margin-bottom: -221px;
    margin-left: 42px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-5 .u-shape-1 {
    width: 447px;
    height: 398px;
    margin-top: 58px;
  }

  .u-section-5 .u-shape-2 {
    width: 394px;
    height: 348px;
    margin-top: -705px;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    height: 382px;
    width: 410px;
  }

  .u-section-5 .u-group-1 {
    min-height: 371px;
    margin-top: -52px;
    margin-bottom: -249px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-5 .u-shape-1 {
    width: 299px;
    height: 286px;
    margin-top: 77px;
  }

  .u-section-5 .u-shape-2 {
    height: 221px;
    width: 275px;
    margin-top: -487px;
    margin-left: 24px;
  }

  .u-section-5 .u-image-1 {
    height: 227px;
    width: 261px;
    margin-top: -182px;
  }

  .u-section-5 .u-group-1 {
    min-height: 484px;
    width: 312px;
    margin-top: -14px;
    margin-bottom: -124px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.88889rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 2985px;
}

.u-section-6 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("../images/erre-min.jpg");
  background-position: 50% 50%;
  margin: 52px 96px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("../images/man-traveling-bicycles-holding-map-hipster-style-outfit-friends-having-fun-together-sightseeing-taking-photo-camera_285396-.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-6 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("../images/fdf-min.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-6 .u-shape-1 {
  width: 173px;
  height: 173px;
  background-image: none;
  margin: -855px 14px 0 auto;
}

.u-section-6 .u-text-1 {
  font-size: 3.77778rem;
  font-weight: 700;
  margin: 696px auto 0 0;
}

.u-section-6 .u-line-1 {
  margin-top: 37px;
  margin-bottom: 0;
  height: 6px;
  transform-origin: left center;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 1698px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  border-style: solid;
  margin: 84px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 295px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-group-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  min-height: 228px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2924px;
  }

  .u-section-6 .u-image-1 {
    width: 642px;
    height: 642px;
    margin-top: 238px;
    margin-right: 82px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -818px;
    margin-left: 25px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 280px;
    margin-left: 25px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 793px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: -457px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 1400px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2737px;
  }

  .u-section-6 .u-image-1 {
    width: 560px;
    height: 560px;
    margin-top: 60px;
    margin-right: 16px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -778px;
    margin-left: 16px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 232px;
    margin-left: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 745px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -158px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2749px;
  }

  .u-section-6 .u-image-1 {
    width: 506px;
    height: 506px;
    margin-top: 317px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 227px;
    height: 227px;
    margin-top: -758px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    width: 337px;
    height: 337px;
    margin-top: 367px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 719px;
    margin-left: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: -192px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2500px;
  }

  .u-section-6 .u-image-1 {
    width: 296px;
    height: 296px;
    margin-top: 300px;
    margin-left: 44px;
  }

  .u-section-6 .u-image-2 {
    width: 209px;
    height: 209px;
    margin-top: -458px;
    margin-left: 18px;
  }

  .u-section-6 .u-image-3 {
    width: 254px;
    height: 254px;
    margin-top: 148px;
  }

  .u-section-6 .u-shape-1 {
    width: 129px;
    height: 129px;
    margin-top: -712px;
    margin-right: 18px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.2777777777777777rem;
    margin-top: 591px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -193px;
  }
} .u-section-7 {
  background-image: url("../images/yyy.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 754px;
}

.u-section-7 .u-group-1 {
  width: 549px;
  min-height: 501px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 75px auto 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  margin: 20px auto 0 0;
}

.u-section-7 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 50px auto 0 0;
  padding: 20px 58px 21px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-7 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    background-position: 84.17% 51.53%;
    background-size: auto 120%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 476px;
  }

  .u-section-7 .u-group-1 {
    width: 455px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    background-position: 77.98% 51.53%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-7 .u-group-1 {
    width: 313px;
    min-height: 502px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    background-position: 74.72% 56.83%;
    background-size: auto 110%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-7 .u-group-1 {
    width: 267px;
    min-height: 467px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1rem;
  }
} .u-section-8 {
  min-height: 1238px;
}

.u-section-8 .u-shape-1 {
  width: 577px;
  height: 357px;
  margin: 463px auto 0 calc(((100% - 1140px) / 2) + 135px);
}

.u-section-8 .u-shape-2 {
  height: 299px;
  margin-top: -820px;
  margin-bottom: 0;
}

.u-section-8 .u-image-1 {
  height: 656px;
  width: 1061px;
  margin: -269px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-8 .u-group-1 {
  width: 709px;
  min-height: 607px;
  background-image: none;
  margin: -125px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-8 .u-text-1 {
  text-transform: none;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-style: normal;
  margin: 17px 127px 0 0;
}

.u-section-8 .u-form-1 {
  height: 259px;
  margin: 40px 0 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: auto;
}

.u-section-8 .u-form-group-2 {
  margin-left: auto;
}

.u-section-8 .u-form-group-3 {
  margin-left: auto;
}

.u-section-8 .u-form-group-4 {
  margin-left: auto;
}

.u-section-8 .u-btn-1 {
  margin-left: auto;
  width: 100%;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
  text-transform: uppercase;
  border-style: solid;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 1143px;
  }

  .u-section-8 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2) + 135px);
  }

  .u-section-8 .u-image-1 {
    height: 590px;
    width: 869px;
    object-position: 100% 50%;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-8 .u-group-1 {
    margin-top: -109px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 55px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1006px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 274px;
    margin-left: calc(((100% - 720px) / 2) + 44px);
  }

  .u-section-8 .u-shape-2 {
    margin-top: -631px;
  }

  .u-section-8 .u-image-1 {
    height: 434px;
    width: 665px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-group-1 {
    width: 600px;
    min-height: 577px;
    margin-top: -65px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 60px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 903px;
  }

  .u-section-8 .u-shape-1 {
    width: 429px;
    height: 237px;
    margin-left: calc(((100% - 540px) / 2) + 23px);
  }

  .u-section-8 .u-shape-2 {
    height: 254px;
    margin-top: -511px;
  }

  .u-section-8 .u-image-1 {
    height: 337px;
    width: 540px;
    margin-top: -254px;
    margin-left: auto;
  }

  .u-section-8 .u-group-1 {
    width: 477px;
    min-height: 579px;
    margin-top: -63px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 50px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 986px;
  }

  .u-section-8 .u-shape-1 {
    width: 340px;
    height: 43px;
    margin-top: 186px;
    margin-left: auto;
  }

  .u-section-8 .u-shape-2 {
    height: 200px;
    margin-top: -229px;
  }

  .u-section-8 .u-image-1 {
    height: 254px;
    width: 340px;
    object-position: 65.57% 50%;
    margin-top: -200px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    min-height: 668px;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 44px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}